#home {

  height: 100%;
  width: 100%;
  overflow:hidden;

}
#app{
  height: 100%;
}
.homeHeader {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #dee0e3;
}
.systemCenter{
  background-color: #f0f2f5;
  margin-top: 3%;
  height: 100%;
  overflow:hidden
}
#img {
  /*margin:  0px 0px 0px 20px;*/
}
#title{
  width: 6%;
  margin-left: 3%;
  font-size: 25px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  /*margin-left: -0%;*/
}
.userLogin {
  /*margin: -30px 0px 0px 1400px;*/
  /*font-size: medium;*/
}
.headerLeft{
  width: 50%;
  display: flex;
}
.headerCenter {
  width: 40%;

  display: flex;
}
.headerRight {
  width: 30%;
  display: flex;
}
.ptext{
  width: 0px;
  height: 0px;
  margin: -7px 0px 0px -12px;
  font-size: small;
}
.loginButton{
  width: 5px;
  height: 5px;
}
.loginDialog {
  padding: 0;
  width: 480px;
  height:420px;
}
.el-tooltip__popper{
  max-width:30%
}
#userHeader {
  max-height: 30px;
  max-width: 30px;
  margin-top: -10px;
  margin-bottom: -8px;
  font-size: small;
  padding: 0px;
}
#myWenjuan {
  /*margin: 43px 0px 50px 20px;*/
  /*font-size: larger;*/
  margin-top: 2%;
  margin-left: 3%;
  font-size: 24px;
  font-weight: 500;
  color: rgb(31, 35, 41);
  font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;

}
.myFolder{
  margin-top: 2%;
  margin-left: 3%;
  font-size: 24px;
  font-weight: 500;
  color: rgb(31, 35, 41);
  font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}
.myFolderLeft {
  margin-top: 2%;
  margin-left: 1%;
  font-size: 24px;
  font-weight: 500;
  color: rgb(31, 35, 41);
  font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}
/**
 * 创建问卷
 */
#createWenjuanBox {
  margin-top: 1%;
  width: 30%;
  height: 250.35px;
  margin-left: 3%;
  border:1px solid #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
  /*!*color: #a3a3a3;*!*/
  /*!*display: table-cell;*!*/
  vertical-align: middle;
  text-align: center;
  padding: 6.7% 0;
  /*font-size: medium;*/
}
#createWenjuanBox:hover {
  box-shadow: 0 9px 20px rgba(92,109,177,.2) !important;
  cursor: pointer;
}
#createWenjuanBoxInFolder {
  margin-top: 1%;
  width: 22.41%;
  height: 250.35px;
  margin-left: 3%;
  border:1px solid #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
  /*!*color: #a3a3a3;*!*/
  /*!*display: table-cell;*!*/
  vertical-align: middle;
  text-align: center;
  padding: 6.7% 0;
  /*font-size: medium;*/
}
#createWenjuanBoxInFolder:hover {
  box-shadow: 0 9px 20px rgba(92,109,177,.2) !important;
  cursor: pointer;
}
.createWenjuanButton {
}
/**
 * 用户问卷
 */
.userWenjuanBox {
  /*margin-top: 1.2%;*/
  top:3%;
  margin-bottom: 2%;
  width: 30%;
  border:1px solid #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
  vertical-align: middle;
  display: inline-block;
  font-size: 15px;
  position: relative;
  height: 250.35px;
  overflow: hidden;
}

.userWenjuanBox:hover {
  box-shadow: 0 9px 20px rgba(92,109,177,.2) !important;
  cursor: pointer;

}
.userWenjuanBoxInFolder{
  top:5%;
  margin-bottom: 2%;
  width: 30%;
  border:1px solid #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
  vertical-align: middle;
  display: inline-block;
  font-size: 15px;
  position: relative;
  height: 250.35px;
  overflow: hidden;
}
.userWenjuanBoxInFolder:hover {
  box-shadow: 0 9px 20px rgba(92,109,177,.2) !important;
  cursor: pointer;
}
.userWenjuanBoxWenjuanTitle {
  margin-top: 2%;
  margin-left: 5%;
}
.userWenjuanBoxWenjuanOperateHold{
  margin-top: -10%;
  transform:translateY(55%);
  transition: all .5s ease-out;
}
.userWenjuanBoxWenjuanOperateMove{
  transform:translateY(-20%);

  transition: all .5s ease-out;
}
.userWenjuanBoxWenjuanOperate {
  margin-top: -5%;
  margin-left: 5%;
  /*height: 80%;*/
}
/**
  *问卷其他操作
  */
.wenjuanOtherOperate{
  margin-left: 30%;
}
.wenjuanOtherOperateImg{
  width: 20px;
  height: 20px;

}
.wenjuanDate{
  margin-left: 30%;

}
.wenjuanStatus {
  color:#FFB15B;
  display: flex;
  width: 20%;
}
.userWenjuanBoxWenjuanStatus{
  display: flex;
}
.userWenjuanBoxWenjuanStatusHover{
  display: flex;
}
#wenjuanList {
   /*margin: -212px 0px 0px 260px;*/
   /*height: 430px;*/
   width: 100%;

 }
#folderList {
  /*margin: -212px 0px 0px 260px;*/
  width: 100%;
  margin-left: 2%;
  margin-top: 1%;
  display: flex;
  font-size: 15px;
  /*position: relative;*/
  overflow: hidden;
  flex-wrap: wrap;
}
#wenjuanBox {
  /*width: 1450px;*/
  /*height:450px;*/
  /*margin:0px 0px 0px 50px;*/
  /*margin-top: 5%;*/
  /*margin-left: 2%;*/
  width: 100%;
  /*height: 85%;*/
  /*height: 45%;*/
  display: flex;
}
.userWenjuanShadow {
  margin-top: 5%;
  margin-left: 5%;
}
.userWenjuanShadowHover {
  transition: all 0.6s ease;
  opacity:0.4;
  margin-top: 5%;
  margin-left: 5%;
}
.userWenjuanShadowBr {
  transition: all 60000s ease;
  transition-delay: 5000s
}
.userWenjuanBoxWenjuanEdit{
  /*width: 103.5%;*/
  margin-left: -5.5%;
  background-color: #f9f9f9;
  padding: 4%;
  font-size: 16px;
  transform:translateY(-25%);
  display: flex;
  /*transition: all .2s ease-out;*/
}
.userWenjuanBoxWenjuanEditMove{
  /*width: 105.5%;*/
  margin-left: -5.4%;
  background-color: #f9f9f9;
  padding: 4%;
  font-size: 16px;
  display: flex;
  transform:translateY(48%);
  transition: all .5s ease-out;
}
.mouseHoverOnWenjuanImg{
  width: 20px;
  height: 20px;
  margin-left: 5%;
}
.circle {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-top:10%;
}
.wenjuanVue{
 background: #ffffff;
 margin:0px 0px 0px 10px;
 padding: 0px;
}
#wenjuanImg {
  width:100%;
  height: 80%;
  height: 110px;
}
/*#page {*/
/*margin:0px 0px 0px 1300px;*/
/*}*/
/*#page {*/
/*margin: 40px auto;*/
/*margin-top: 150px;*/
/*}*/
.page-bar{
  margin: 5px auto;
}
p {
  word-break: break-all;
}
ul,li{
  margin: 0px 0px 0px 30px;
  padding: 0px;

}
li{
  list-style:none;
}
.page-bar li:first-child>a {
  margin-left: 0px;
}
.page-bar a{
  border: 1px solid #ddd;
  text-decoration: none;
  position: relative;
  float: left;
  padding:6px 12px;
  margin-left:  -1px;

  cursor:pointer;
  margin-right: 20px;
}
.page-bar a:hover{
  background-color: #eee;
  cursor:pointer
}
.page-bar a.banClick{
  cursor:not-allowed;
  font-size: medium;
}
.page-bar .active a{
  margin: 0px 0px 0px 0px;
  color: #fff;
  cursor: default;
  background-color: #0b97c4;
  border-color: #0b97c4;
}
.page-bar i {
  font-style:normal;
  /*color: #D44950;*/
  margin: 0px 4px;
  font-size: 12px;
}
#bottom {
  height: 106px;
  background-color: #f0f2f5;
}
.el-dialog{
   display: flex;
   flex-direction: column;
   margin:0 !important;
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
     max-height: calc(100% - 30px);
   max-width: calc(100% - 30px);
}
.el-dialog .el-dialog__body{
   flex:1;
  /* overflow: auto;*/
}
.question1 {
  width: 50px;
  height: 45px;
  /*margin: 0px 0px 0px 10px;*/
  border:1px solid transparent;
}

.question1:hover {
  border-style:solid;
  border-width:1px;
  border-color: #ccc;
  cursor:move;
}
.questionDragging {
  cursor:move;
}
.question2 {
  width: 50px;
  height: 45px;
  margin:-45px 0px 8px 70px;
  border:1px solid transparent;
}
.question2:hover {
  border-style:solid;
  border-width:1px;
  border-color: #ccc;
  cursor:move;
}
.question3 {
  width: 50px;
  height: 45px;
  margin:-53px 0px 8px 130px;
  border:1px solid transparent;
}
.question3:hover{
  border-style:solid;
  border-width:1px;
  border-color: #ccc;
  cursor:move;
}
.imgCenter{
  height: 18px;
  width: 18px;
  /*margin:5px 0px 0px 15px;*/
  margin-left: 35%;
}
.imgInserting{
  height: 18px;
  width: 18px;
  margin-bottom: 1%;
}
#userSetting{
  width: 50px;
  height:50px;
  background-color: #0b97c4;
}
#wenjuanEdit{
  background-color: #eef3ff;
  width: 100%;
  overflow-y:hidden;
}
#wenjuanEditHeader {
  /*margin: -10px 0px 0px 0px;*/
  /*height:50px;*/
  /*border-bottom: solid #ccc;*/
  /*background-color: #ffffff;*/
  min-width: 880px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #dee0e3;
}
.wenjuanEditHeaderLeft{
  width: 80%;
  display: flex;
}
.wenjuanEditHeaderCenter{
  width: 40%;
  display: flex;
}
.wenjuanEditHeaderLeft{
  width: 20%;
  display: flex;
}
#wenjuanPreview {
   border-style:solid;
   border-width:1px;
   width: 80px;
   height:30px;
   margin:-20px 0px 0px 1100px;
   text-align:center;
   line-height: 30px;
 }
.wenjuanSave{
  display: flex;
  width: 18%;
  height: 10%;
  border: 1px solid #0b97c4;
  border-radius: 3px;
  text-align: center;
  background-color: #0b97c4;
  color: #FFFFFF;
}
.wenjuanPublish{
  display: flex;
  width: 18%;
  height: 10%;
  border: 1px solid #d5d6d9;
  border-radius: 4px;
  text-align: center;
  margin-left: 5%;
  background-color: #ffffff;
}
.wenjuanEditCenter {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.wenjuanEditCenterLeft{
  margin-top:5%;
  margin-left: 1%;
  width:15%;
  /*height: 100%;*/
  position:absolute;
}
.wenjuanEditCenterLeftSubTitle{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1f2329;
  margin-bottom: 3%;
}
.wenjuanEditCenterMid {
  /*height: 700px;*/
  width: 65%;
  margin-left: 15%;
  overflow-y: auto;
  background-color: #f2fafe;
  height: 100vh;
  position: relative;
}
::-webkit-scrollbar {
  width: 6px;
  z-index: 11
}

::-webkit-scrollbar:horizontal {
  height: 6px;
  outline: none;
  border: 0
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #d9d9d9
}


::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
  background: transparent
}
::-webkit-scrollbar-track-piece {
  background: transparent
}



#wenjuanEditCenterRight {
  width: 304px;
  height: 100%;
  position: absolute;
  margin: 70px 0px 0px 1500px;
  right: 0;
  top: 0;

}
.editControlTitle {
  height: 30px;
  color: #cc0000;
  font-size: 20px;
  margin: 10px 0px 0px 20px;
}
.editName {
  font-size: 15px;
  margin: 10px 0px 0px 20px;
}
#questionHeader{
  border: 1px solid transparent;
  /*margin: 10px 0px 0px 80px;*/
  background-color: #ffffff;
  width: 100%;
  /*margin-top: 50px;*/
  max-width: 840px;
  margin: 60px auto 0 auto;

}

.wenjuanTitleCenter{
  width: 100%;
  max-width: 810px;
  text-align: center;
}
.welcomeMessage{

  /*margin: 0px 0px 0px 45px;*/
  width: 100%;
  max-width: 840px;
}
.questionWel {
  width: 100%;
  max-width: 840px;
  margin: 0px 0px 15px 0px;
  border: 1px solid transparent;
}
.questionWel:hover {
  border:1px dashed #0b97c4;
  cursor:pointer
}
.questionList{
  width: 100%;
  max-width: 840px;
  /*max-height: 60vh;*/
   /*margin: 0px 10px 0px 80px;*/
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
}

/*::-webkit-scrollbar {*/
    /*height: 50px;*/
    /*background-color:#000000;*/
/*}*/
.questionListPhone{
  width: 88%;
  max-width: 840px;
  /*margin: 0px 10px 0px 80px;*/
  background-color: #ffffff;
  margin: auto;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
}
.userQuestionBox {
  border: 1px solid transparent;
  min-height: 80px;
  overflow-y: auto;
}
.userQuestionBox:hover{
  border:1px dashed #0b97c4;
  box-sizing: border-box;
  cursor:pointer
}

/*.userQuestionBox:focus-within {*/
  /*outline: 1px solid #0b97c4;*/
/*}*/
.userQuestionBox:focus {
  outline: 1px solid #0b97c4;
}
.questionInserting{
  height: 10%;
  width: 100%;
  border:1px dashed #0b97c4;
  box-sizing: border-box;
  text-align: center;
  background-color: #66b1ff;
  position: absolute;
}
.questionInsertingHasQuestion{
  height: 10%;
  border:1px dashed #0b97c4;
  box-sizing: border-box;
  text-align: center;
  background-color: #66b1ff;
}
/*.userQuestionBoxActive {*/
  /*border-style:solid;*/
  /*border-width:1px;*/
  /*min-height: 220px;*/
  /*position: relative;*/
/*}*/
.userQuestionBoxPhone {
  border: 1px solid transparent;
  min-height: 20%;
}
.userQuestionBoxPhone:hover{
  border:1px dashed #0b97c4;
  box-sizing: border-box;
  cursor:pointer
}
.userQuestionBoxPhoneActive {
  border-style:solid;
  border-width:1px;
  position: relative;
  min-height: 10%;
}
.horizontalLine {
  height: 1px;
  border-top: solid #ACC0D8 1px;
}

.verticalLine {
  width: 50px;
  height: 20%;
  border-right: solid #ACC0D8 1px;
}
.editingWenjuanImg {
  margin-top: -20%;
  margin-left: -2%;
  width: 840px;
  height: 200px;
}

input{
  outline-style: none ;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 3px 4px;
  width: 270px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Microsoft soft";
  margin: 8px 0px 0px 15px
}
textarea{
  outline-style: none ;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 3px 4px;
  width: 270px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Microsoft soft";
  margin: 8px 0px 0px 15px
}
/*.el-radio_label {*/
  /*  text-overflow: ellipsis;*/
  /*  white-space: normal;*/
  /*  line-height: 18px;*/
  /*  vertical-align: middle;*/
  /*  display: inline-block;*/
/*}*/
.optionClass{
  display:flex;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 3%;
}
.optionClassPic{
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.videoOption{
  margin: -180px 0px 0px 0px;
}
.videoOptionPhone{

}
.video{
  width: 300px;
  height: 180px;
}
.optionClassEdit {
  border-style:solid;
  border-width:1px;
  height:30px;
  width: 220px;
  margin: 10px 0px 0px 20px;
  display:flex;

}
.picOptionClassEdit{

  margin: 10px 0px 0px 20px;
  height:151px;
  width: 220px;
  display:flex;
}
.picOptionClassEditImg{
  height:151px;
  width: 220px;
}
.questionBank{
  margin-top: 20%;
  position: absolute;
}
.questionBankQuestion{
  margin-left: 8%;
  margin-top: 2%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1f2329;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 1px;
}
.questionBankQuestionHoverOptionList{
  background-color: #66b1ff;
}
.questionBankQuestionHoverOption{

}
.questionBankQuestionHoverOption:hover{
  background-color: #0b97c4;
  color: #ffffff;
}
.optionEditInput {
  border: 1px solid #ccc;
  border-radius: 1px;
  height:23px;
  width: 150px;
  margin: 0px 0px 0px 0px;
  border:none
}
.addOption{
  margin: 30px 0px 0px 20px;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 75px;
  text-align: center;
}
.imgAddOrDelete {
  /*margin: 0px 0px 0px 10px;*/
  width: 15px;
  height: 15px;
}

.imgAddOrDeletePic {
  width: 15px;
  height: 15px;
  margin: 0px 0px 70px 0px;
}
.Rating-gray {
  margin-right: 1.066667vw;
  color: #ffbe00;
  display: inline-block;
}
.videoBox {
  width: 300px;
  height: 200px;
  margin: 0px 0px 0px 450px;
  position: relative;
}
.videoPhone{
  width: 100%;
}
.noVideoBox{
  width: 300px;
  height: 200px;
  margin: 0px 0px 0px 450px;
  line-height: 200px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 1px;
  position: relative;
}
.uploadPicture {
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 120px;
  height: 100px;

  text-align: center;
  /*padding-top: 60%;*/
  display: table-cell;
  vertical-align: middle;
}

.userImg {
  width: 150px;
  height: 150px;
}
.imageCenter{
  padding-top: -10%;
}
.videoUploadInput{
  top:0;
  left: 0;
  margin: 0;
  width: 300px;
  height: 200px;
  position:absolute;
  opacity: 0;
}
.imgUploadInput{

  width:120px;
  height:100px;
  position:absolute;
  opacity: 0;
  margin-left: -34%;
  margin-top: -27%;
}
.imageUploadHasImg{
  /*position: relative;*/
  /*margin-left: 3%;*/
  /*vertical-align: middle;*/
  /*width: 120px;*/
  /*height: 100px;*/
  /*border: 1px solid #ccc;*/
  /*border-radius: 1px;*/
  width: 120px;
  height: 100px;
  text-align: center;
  /*padding-top: 60%;*/
  display: table-cell;
  vertical-align: middle;
}
.imgUploadInputHasImgInput  {
  height: 3rem;
  width: 1rem;
  opacity: 0;
  z-index: 99999;
}
.uploadPictureHasImg{
  /*margin: -10px 0px 20px -110px;*/

  width: 120px;
  height: 100px;
  text-align: center;
  line-height: 150px;
  position: absolute;
  margin-top: -43%;
  margin-left: -30%;
}
.uploadPictureHasImgAndHasBlankImg{
  /*margin: -10px 0px 20px -110px;*/


  width: 120px;
  height: 100px;
  text-align: center;
  line-height: 150px;
  position: absolute;
  margin-top: -43%;
  margin-left: -42%;
}
.radio{

}
/*预览问卷按钮*/
.preview{
  display: flex;
  width: 18%;
  height: 10%;
  border: 1px solid #0b97c4;
  border-radius: 4px;
  text-align: center;
  margin-right: 5%;
}
/*预览图标*/
#imgPreview {
  width: 20%;
  height: 20%;
  margin-top:5%;
  margin-left: 15%;
}
.pictureHasImgPhone{
  /*margin: -20px 0px 20px -110px;*/
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 80%;
  height: 80%;
}

.router-liink{
  display:none;
  height: 0px;
}
#wenjuanPreviewHeader {
  margin: 0px 0px 0px 0px;
  height:50px;

}
.questionPreviewList{
  width: 810px;
  margin: 0px 10px 10px 20px;
}
.questionPreviewHeader{
  margin: 0px 0px 0px 400px;
}
.wenjuanPreviewCenter {

  margin: 10px 305px 0px 285px;
  background-color: #f2fafe;
  font-size: medium;
}
.previewWenjuanImg{
  width: 810px;
  height: 220px;
  margin: 0px 0px 0px 40px;
}
.previewQuestionWel {
  margin: 0px 0px 0px 50px;
}

.delete{
  margin-left: 95%;
  margin-top: -105%;
  width: 25px;
  height: 30px;
  display: none;
}
.deleteActive {
  /*margin: -30px 0px 0px 780px;*/
  margin-left: 95%;
  margin-top: -4%;
  /*z-index: 50;*/
  width: 25px;
  height: 30px;
  position: absolute;
  /*flex-direction:;*/
}

.noQuestion{
  height: 500px;
  text-align: center;
  line-height: 500px;
}
.noQuestion:hover{
  border:1px dashed #0b97c4;
  cursor:pointer
}
.noQuestionImg{
  margin: 0px 0px 0px 0px;
  width: 20px;
  height: 20px;
}
.questionBottom{
  /*margin-left: 80px;*/
  width: 840px;
  height: 80px;
  border: none;
  background-color: #ffffff;
  position: relative;
  overflow:hidden;
  margin: 0 auto;
}

.submmit {
  width:50px;
  height:30px;
  border: 1px solid #ccc;
  border-radius: 1px;
  text-align: center;
  line-height: 30px;
  /*margin: 20px 0px 0px 420px;*/
  background-color: #ffffff;
  /*margin: 0 auto;*/

  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.submmit:hover{
  width:50px;
  height:30px;
  border: 1px solid #ccc;
  border-radius: 1px;
  text-align: center;
  line-height: 30px;
  /*margin: 20px 0px 0px 420px;*/
  background-color: #ffffff;
  /*margin: 0 auto;*/

  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #66b1ff;
  color: #303133;
  cursor: pointer;
}

.wenjuanHeader {
  margin: -10px 0px 0px 0px;
  height:50px;
  border-bottom: solid #ccc;
  display: flex;
}
.equipments{
  border:1px solid #a1a1a1;
  /*margin: 0 auto;*/
  border-radius:10px;
  height: 40px;
  margin-left: 13%;
}
.equipment{
  width: 40px;
  height: 40px;
  border-radius:10px;
}
.equipmentActive {
  width: 40px;
  height: 40px;
  background-color: #f2fafe;

  border-radius:10px;
}
.wenjuanPrewCenter {
  height: 100%;
  background-color: #eef3ff;
}
.wenjuanPrewCenterMid {
  margin: 60px auto 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 3px;
  background-color: #eef3ff;
}
.wenjuanPrewCenterMidQuestion {
  margin: auto;
  position: absolute;
  top: 112px;
  left: 0;
  right: 0;
  width: 350px;
  height: 550px;
  overflow-y:auto;
  padding: 120px 0px 0px 80px;
}

.wenjuanPrewCenterMidQuestion::-webkit-scrollbar {
  display: none;
}
.phoneQuestionHeader{
  /*border: 1px solid transparent;*/
  /*margin: 10px 0px 0px 80px;*/
  background-color: #ffffff;
  width: 89%;
  max-width: 840px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /*margin: 0 auto;*/
}
.preWenjuanImg{
  width: 100%;
}
.wenjuanPhonePrewCenter {
  height: 100%;
  /*margin-left: 205px;*/
  position: relative;
  font-size: 10px;
  background-color: #f4f5f6;
}
.wenjuanPrewCenterMidPhoneImg{
  /*margin: 0 0 0 0;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 100px;*/
  /*right: 100px;*/
  margin-left: 35.5%;
  margin-top: -0.1%;
}
#publishCenter{
  margin: 0 auto;
  width: 70%;
  height: 30%;
  margin-top: 5%;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}
.publishUrl{
width: 400px;
}
.publishHeader{
  margin-top:0%;
  margin-left: 5%;
  height: 30%;
  width: 80%;
  background-color: #ffffff;

}
#qrCode {
/*margin: 0px 0px 0px 400px;*/
  margin-left: 85%;
  margin-top: 5%;
  /*margin-top: ;*/
  /*position: absolute;*/


}
.publishMessage {
  margin-left: 5%;
  margin-top: 0%;
  position: absolute;

}
.publishButton{
  display: flex;
  margin-top:25%;
}
.resultAnalysisCenter{
  right: 0;
  left: 0;
  margin-top: -1%;
  height: 100vh;
  background-color: #eef3ff;
}
.resultAnalysis {
  width: 100%;
  height: 98vh;
  overflow:hidden;
}
.resultAnalysisCenterLeft {
  margin-top :60px;
  width: 6%;
  /*background-color: #0b97c4;*/
  left: 0;
  right: 0;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 2px;
}
.leftMenuBox {
  width: 100%;
  height: 100%;
  /*margin-top: 30%;*/
  /*border: 1px solid #cc0000;*/
  border-radius: 2px;
  left: 0;
  background-color: #ffffff;
}
.menu {
  /*color: #cc0000;*/
  /*margin-bottom: 10%;*/
  /*border: 1px solid #000000;*/
  height: 10%;
  /*border-radius: 2px;*/
  background-color: #ffffff;
  margin-bottom: 5%;

}
.menuNoPick {
  height: 100%;
  background-color: #ffffff;
  margin-bottom: 5%;
}
.menuPick {
  /*margin-left: 30%;*/
  height: 100%;
  background-color: #66b1ff;
  margin-bottom: 5%;
}
.resultAnalysisHeader {
  min-width: 880px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #dee0e3;
}
.recycle {
  /*display: flex;*/

  /*width: 800px;*/
  /*height: 800px;*/
}
#recycleSchedule {
  margin-top: 2%;
  margin-left: 2%;
  width: 680px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.resultAnalysisCenterRight {
  height: 100%;
  /*margin-top :60px;*/
  /*background-color: #0b97c4;*/
  margin-left:6%;
  margin-top: -48%;
  /*border: 1px solid #000000;*/
  border-radius: 2px;
  overflow: auto;
  background-color: #eef3ff;
}
#chinaMap{
  width: 500px;
  height: 500px;
  /*margin-left: 100px;*/
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*margin-left: 86%;*/
}
.recycleForm {

}
.questionForm {
 margin-left: 20%;
  margin-right:20%;
  margin-bottom: 1%;
  border:1px solid #c0c4cc;
 border-redius:2px;

}
.formTypeList {
  display: flex;
  width: 20%;
  margin-left: 20%;
  margin-bottom: 1%;
}
.testVue {
  width: 1000px;
  height: 1000px;
}
.testVueList {
  width: 1000px;
  height: 1000px;
}

.formType {
  width:60px;
  border: 1px solid #cccccc;
  margin-right:5px;
  text-align: center;
  background-color: #ffffff;
}
.formTypeCheck{
  width:60px;
  border: 1px solid #cccccc;
  margin-right:5px;
  text-align: center;
  background-color: #66b1ff;
  color: #ffffff;
}
/*.test{*/
  /*transition: all 50s ease;*/
  /*opacity:0.9;*/
/*}*/
.recycleCount{
  width: 300px;
  height: 220px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1f2329;
  /*margin-left: 100px;*/
  margin-left: 13%;
  margin-top: 10%;
  margin-right: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recycleRatio{
  width: 300px;
  height: 275px;
  /*margin-left: 100px;*/
  margin-left: 13%;
  margin-top: 2%;
  margin-right: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ratioTypeBox{
  /*display: flex;*/
  /*width: 20%;*/
  /*margin-left: 20%;*/
  /*margin-bottom: 1%;*/

}

#recycleCountForm {
  width: 300px;
  height: 300px;
  margin-top: -20%;
}
.ratioTypeCheck{
  background-color: #66b1ff;
  border: 1px solid #cccccc;
  width: 60px;
  height: 30px;
  margin-left: 4%;
  color: #ffffff;
}
.ratioTypeCheck:hover{

  cursor: pointer;
}
.ratioType{
  border: 1px solid #cccccc;
  background-color: #ffffff;
  width: 60px;
  height: 30px;
  margin-left: 4%;
}
.ratioType:hover {
  cursor: pointer;
}
#radioForm{
  width: 300px;
  height: 200px;
}
.crossQuestion{
  margin-top: 1%;
  /*margin-left: 5%;*/
  display: flex;
}
.startAnalysis{
  width: 6%;
  text-align: center;
  padding-top: 0.2%;
  margin-left: 2%;
  margin-top: 3px;
  border: 1px solid #cccccc;
  border-redius:20px;
  background-color: #FFFFFF;
}
.startAnalysis:hover {
  cursor: pointer;
  background-color: #66b1ff;
  color: #ffffff;
}
.crossForm{
  width: 90%;
  margin-top: 1%;
  margin-left: 3%;
}
.pagging{

}
.paggingTop{
  margin-top: 18.2%;
}
.paggingTopFolder{
  margin-top: 21.9%;
}
.imageOptionPreview {
  width: 200px;
  height: 120px;
}
.inputUploadWenjuanImg {
  opacity: 0;
  width: 840px;
  height: 160px;
}
.wenjuanSearch{

}
.otherOperate{
  margin-right: 4%;
  margin-top:0.5%;
}
.menuList{
  background-color: #5daf34;
  position: absolute;
  width: 29%;
  margin-left: 10%;
  height: 60px;
  display: flex;
  border-left: 1px solid;
  border-right: 1px solid;
}
.sysMenu{
  width: 113px;
  height: 60px;
  padding-top: 15px;
  text-align: center;
  font-size: 18px;
  border-left: 1px solid;
  border-right: 1px solid;
  font-weight: 100;
  background-color: #ffffff;

}
.sysMenu:hover {
  cursor: pointer;
  background-color: #66b1ff;
  color: #ffffff;
}
.sysMenuCheck{
  /*width: 26%;*/

  width: 113px;
  height: 60px;
  padding-top: 15px;
  text-align: center;
  font-size: 18px;
  border-left: 1px solid;
  border-right: 1px solid;
  font-weight: 100;
  background-color: #66b1ff;
  color: #ffffff;
}
.createFolderButton{
  border:1px solid #cccccc;
  width: 10%;
  text-align: center;
  border-radius: 2px;
  margin-left: 25%;
  margin-top: 2%;
}
.createFolderButton:hover {
  background-color: #66b1ff;
  cursor: pointer;
  color: #ffffff;
}
#createFolderBox {
  margin-top: 1%;
  width: 15%;
  height: 150.35px;
  margin-left: 3%;
  border:1px solid #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
  /*!*color: #a3a3a3;*!*/
  /*!*display: table-cell;*!*/
  vertical-align: middle;
  text-align: center;
  padding: 3.7% 0;
  /*font-size: medium;*/
}

#createFolderBox:hover{
  box-shadow: 0 9px 20px rgba(92,109,177,.2) !important;
  cursor: pointer;
}
.folderPicture{
  width: 170px;
  /*margin-top: -2%;*/
  margin-bottom: 10%;
}
.folderPicture:hover{
  margin-top: -1%;
  cursor: pointer;
}
.folderNameClass {
  margin-left: 1%;
  margin-top:-3%;
  position: absolute;
  color: #66b1ff;
}
#rightClickDropDown{
  width: 100px;
  height: 50px;
  border:1px solid #cccccc;
  position: absolute;
  display: none;
  top:0px;
  left: 0px;
  background-color: #FFB15B;
}
.folderOtherOperate{
  width: 100px;
  margin-left: -1px;
}
.folderOtherOperate:hover {
  background-color: #cccccc;
  color: #ffffff;
}
