html,
body,
/*#app {*/
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*text-align: center;*/
  /*color: #2c3e50;*/
  /*margin-top: 60px;*/
/*}*/
/*#header{*/
  /*background-color: #00d6b2;*/
  /*width: 100%;*/
  /*height: 0px;*/
  /*border: 1px #00d6b2 solid;*/
  /*border-radius:5px;*/
  /*margin: 0px 0px 0px 0px;*/
  /*box-shadow: 5px 5px 5px 5px gray;*/
/*}*/
#systemHeader {
  margin: 10px 0px 0px 0px;
  height: 40px;
  font-size: larger;

}
.systemCenter{
  background-color: #ffffff;
}
#img {
  margin:  0px 0px 0px 20px;
}
#title{
  margin: -40px 0px 0px 60px;
}
.userLogin {
  margin: -30px 0px 0px 1400px;
  font-size: medium;
}
.ptext{
  width: 0px;
  height: 0px;
  margin: -7px 0px 0px -12px;
  font-size: small;
}
.loginButton{
  width: 5px;
  height: 5px;
}
.loginDialog {
  padding: 0;
  width: 480px;
  height:420px;
}
.el-tooltip__popper{
  max-width:30%
}
#userHeader {
  max-height: 30px;
  max-width: 30px;
  margin-top: -10px;
  margin-bottom: -8px;
  font-size: small;
  padding: 0px;
}
#myWenjuan {
  margin: 43px 0px 50px 20px;
  font-size: larger;
}
#createWenjuanBox {
  margin:50px 200px 200px 20px;
  padding-right: 0px;
  width:260px;
  height: 200px;
  border-style:solid;
  border-width:1px;
  background-color: #ffffff;
  color: #a3a3a3;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: medium;
}
#userWenjuanBox {
  margin: 10.5px 0px 0px 30.5px;
  width:260px;
  height: 200px;
  border-style:solid;
  border-width:1px;
  background-color: #ffffff;
  color: #a3a3a3;
  display: table-cell;
  vertical-align: middle;
  display: inline-block;
  font-size: medium;
}
#wenjuanList {
  margin: -212px 0px 0px 260px;
  height: 430px;

}
#wenjuanBox {
  width: 1450px;
  height:450px;
  margin:0px 0px 0px 50px;

}
.wenjuanVue{
 background: #ffffff;
 margin:0px 0px 0px 10px;
 padding: 0px;
}
#wenjuanImg {
  width: 260px;
  height: 110px;
}
/*#page {*/
/*margin:0px 0px 0px 1300px;*/
/*}*/
/*#page {*/
/*margin: 40px auto;*/
/*margin-top: 150px;*/
/*}*/
.page-bar{
  margin: 5px auto;
}
ul,li{
  margin: 0px 0px 0px 30px;
  padding: 0px;

}
li{
  list-style:none;
}
.page-bar li:first-child>a {
  margin-left: 0px;
}
.page-bar a{
  border: 1px solid #ddd;
  text-decoration: none;
  position: relative;
  float: left;
  padding:6px 12px;
  margin-left:  -1px;

  cursor:pointer;
  margin-right: 20px;
}
.page-bar a:hover{
  background-color: #eee;
}
.page-bar a.banClick{
  cursor:not-allowed;
  font-size: medium;
}
.page-bar .active a{
  margin: 0px 0px 0px 0px;
  color: #fff;
  cursor: default;
  background-color: #0b97c4;
  border-color: #0b97c4;
}
.page-bar i {
  font-style:normal;
  /*color: #D44950;*/
  margin: 0px 4px;
  font-size: 12px;
}
#bottom {
  height: 93px;
}
.el-dialog{
   display: flex;
   flex-direction: column;
   margin:0 !important;
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
     max-height: calc(100% - 30px);
   max-width: calc(100% - 30px);
}
.el-dialog .el-dialog__body{
   flex:1;
   overflow: auto;
}

.question1 {
  width: 50px;
  height: 45px;
  margin: 0px 0px 0px 10px;
}

.question2 {
  width: 50px;
  height: 45px;
  margin:-45px 0px 8px 70px;
}

.question3 {
  width: 50px;
  height: 45px;
  margin:-53px 0px 8px 130px;
}
.imgCenter{
  margin:5px 0px 0px 15px;
}
#userSetting{
  width: 50px;
  height:50px;
  background-color: #0b97c4;
}
#wenjuanEditHeader {
  margin: -10px 0px 0px 0px;
  height:50px;
  background-color: #cc0000;
}
#wenjuanPreview {
   border-style:solid;
   border-width:1px;
   width: 80px;
   height:30px;
   margin:-20px 0px 0px 1100px;
   text-align:center;
 }
#wenjuanSave{
  border-style:solid;
  border-width:1px;
  width: 120px;
  height:30px;
  margin: -34px 0px 0px 1250px;
  background-color: #a1afc9;
  text-align:center;
  line-height: 30px;
}



#imgCenter{
  margin:5px 0px 0px 15px;
}
#wenjuanEditCenter {
  height: 900px;
  margin: 0 305px 0 205px;
  background-color: #f2fafe;
}
#wenjuanEditCenterLeft{
  width:204px;
  height:400px;
  position:absolute;
  background-color:#0000ff;
  margin: 50px 0px 0px 0px;
  left:0;
  top:0;
}
#wenjuanEditCenterMid {
  width: 1009px;
  height:800px;
  margin:0 0px 0 0px;
  background-color:#0BB20C;
}
#wenjuanEditCenterRight {
  width: 304px;
  height: 400px;
  position: absolute;
  margin: 50px 0px 0px 1500px;
  right: 0;
  top: 0;
  background-color: #0D3349;
}
#questionHeader{
  width: 810px;
  margin: -770px 0px 0px 100px;
  background-color: #ffffff;
}
#wenjuanTitleCenter{
  margin: 0px 0px 0px 250px;
}
#questionList{
   width: 810px;
   margin: 10px 10px 10px 0px;
  background-color: #0b97c4;
}
#userQuestionBox {
  margin: 20px 0px 0px 0px;
}
